:root {
	/* 顏色設定 */
	--white-primary: #ffffff;
	--white-secondary: #E6E6E6;
	--black-primary: #191414;
	--black-secondary: #2A2222;
	--gray-primary: #e4e4e4;
	--gray-secondary: #bebebe;
	--green-main: #1db954;
	--green-dark: #148255;
	--green-light: #93ffd4;
	--red-main: #ff0000;
	--red-dark: #b30000;
	--red-light: #ff8080;

	/* 字型設定 */
	color: var(--white-secondary);
	font-family: "Montserrat Alternates", "Noto Sans TC", "Noto Sans JP",
		sans-serif;
	font-weight: 400;
	font-size: 16px;
	/* line-height: 1.5;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%; */

	/* color-scheme: light dark; */

	/* 基本設定 */
	margin: 0;
	padding: 0;
	border: 0;
}

::-webkit-scrollbar {
	width: 0;  /* Remove scrollbar space */
	background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: var(--gray-secondary);
}

* {
	overscroll-behavior: none;
}

/* @keyframes aniHorizontal {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
 */
/* @keyframes aniHorizontal {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.datagrid__row {
  position: relative;
}

.datagrid__row:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  animation-name: aniHorizontal;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: linear-gradient(
    to right,
    #cccccc 2%,
    #666666 18%,
    #cccccc 33%
  );
  background-size: 50%;
	mix-blend-mode: overlay;
} */

/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
